[submodule "vim/bundle/vim-airline"]
	path = vim/bundle/vim-airline
	url = git@github.com:vim-airline/vim-airline.git
[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/vim-colors-solarized
	url = git@github.com:altercation/vim-colors-solarized
[submodule "vim/bundle/vim-consul"]
	path = vim/bundle/vim-consul
	url = git@github.com:hashivim/vim-consul.git
[submodule "vim/bundle/vim-packer"]
	path = vim/bundle/vim-packer
	url = git@github.com:hashivim/vim-packer.git
[submodule "vim/bundle/vim-terraform"]
	path = vim/bundle/vim-terraform
	url = git@github.com:hashivim/vim-terraform.git
[submodule "vim/bundle/vim-vagrant"]
	path = vim/bundle/vim-vagrant
	url = git@github.com:hashivim/vim-vagrant.git
[submodule "vim/bundle/vim-vaultproject"]
	path = vim/bundle/vim-vaultproject
	url = git@github.com:hashivim/vim-vaultproject.git
[submodule "vim/bundle/vim-sensible"]
	path = vim/bundle/vim-sensible
	url = git@github.com:tpope/vim-sensible.git
[submodule "vim/bundle/vim-go"]
	path = vim/bundle/vim-go
	url = git@github.com:fatih/vim-go.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
